<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Правила блога</title>
</head>
<body>
    Правила
    1. Чтобы создать именной блог на нашем сайте, необходимо прислать свою заявку на адрес: blogs@lb.ua. В заявке должны содержаться:
    ваша фотография;
    ваша биография, регалии, информация о вас, которую вы хотите разместить на сайте в разделе “Об авторе”. Желательно, чтобы био не было сухим и формальным;
    краткое описание темы, на которую вы бы хотели писать в блоге, или образец текста и/или ссылка на публикации.
    Редакция рассмотрит ваши заявки в кратчайшие сроки и уведомит вас о решении относительно открытия блога.

    Если блог на LB.ua открыт, присылайте свои тексты для него на адрес blogs@lb.ua, каждый текст тоже будет рассмотрен перед публикацией. Редакция оставляет за собой право исправлять опечатки, видимые грамматические и стилистические ошибки, а также рекомендовать автору исправления в тексте.

    2. Охват тем, на которые вы можете писать, - широк: от политики и экономики до культуры, науки и технологий. Тем не менее, блоги на LB.ua остаются публичной площадкой для высказывания, в связи с чем нужно помнить: читатели очень заинтересованы в компетентном и хорошо аргументированном мнении авторов и блогеров. Мы приветствуем аналитические материалы в блогах и просим, по возможности, воздержаться от эмоциональных высказываний, которые могут оскорбить других читателей.

    3. Мы не ограничиваем авторов в объеме текстов, но все же, когда присылаете свои заметки, нужно помнить о читателях.

    4. Приветствуется дополнительное оформление текстов - иллюстрации, инфографика, видео. Все это вы можете присылать по тому же адресу в приложении к письмам, либо же давать ссылки на ресурс, откуда его можно взять (например, внешние хостинги видео, вроде Youtube или Vimeo).

    5. В блогах запрещено:
    скрытая и прямая реклама партий, политических организаций и движений, политиков, товаров и услуг;
    провокативные высказывания, оскорбляющие честь и достоинство читателей, других блогеров, администрации сайта;
    сообщения, смысл которых трудно уловим или вообще отсутствует;
    нецензурные высказывания;
    призывы экстремистского характера;
    пропаганда сепаратизма, нарушения территориальной целостности Украины;
    пропаганда наркомании;
    информация, которая содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию граждан или организаций;
    призывы к действиям, подпадающим под действие Уголовного кодекса Украины;
    размещение провокационной и/или ложной информации;
    пропаганда и/или разжигание расовой, религиозной, межнациональной ненависти, розни, вражды и/или дискриминации по расовому, этническому, половому, религиозному, социальному признакам, всего, что является нарушением законов и Конституции Украины.
    Записи с таким содержанием не будут размещены на сайте, а блог человека, который прислал такой текст, будет удален.

    6. За содержание текстов ответственность несут авторы блогов на LB.ua.

    7. Редакция может отказать в открытии блога без объяснения причин.

    9. Редакция оставляет за собой право отказать в публикации блога, в котором, по мнению редакции, содержится политическая реклама.

    Со всеми вопросами и предложениями вы можете обращаться по адресу blogs@lb.ua
</body>
</html>
